.flagship-section{
    width: 100%;
    background-color: #FDF0E9;
    font-family: 'Epilogue', sans-serif;
}

.flagship-section .column-wrapper{
    margin: 0 23px 0 23px;
}

.flagship-section .text-container{
    display: flex;
    flex-direction: column;
    width: calc(100% - 46px);
}

.flagship-section .column-wrapper img{
    margin-top: 60px;
    width: calc(100% - 46px);
}

.flagship-section h5{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    color: #EF6D58;
    margin-top: 0;
}

.flagship-section h2{
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #391400;
    margin-top: 17px;
}

.flagship-section p{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #391400;
    margin-top: 29px; 
}

.flagship-section span{
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #391400;
    margin-top: 18px; 
}

.flagship-section button{
    width: 135px;
    height: 48px;
    border-radius: 6px;
    background-color: #ffffff;
    color: black;
    font-size: 14px;
    font-weight: 900;
    line-height: 14px;
    margin-top: 32px;
}

.flagship-section .circle-bg-list,
.flagship-section .circle-bg-briefcase{
    display: flex;
    background-color: #EF6D58;
    border-radius: 50%;
    border: 24px solid #EF6D58;
    margin-top: 48px;
    margin-left: 28px;
    width: 112px;
    height: 112px;
    justify-content: center;
    align-items: center;
}

.flagship-section .tile img{
    width: 48px;
    height: 48px;
}

.flagship-section .tile{
    display: flex;
    height: 209px;
    flex-direction: row;
    border: 1px solid #F3D1BF;
}

.flagship-section .tiles-wrapper{
    width: 100%;
    height: 513px;
    margin-bottom: 120px;
}

.flagship-section .tile:first-of-type{
    margin: 96px 23px 0 23px;
}

.flagship-section .tile:last-of-type{
    margin: 0 23px 113px 23px;
}

.flagship-section .text-in-tile{
    width: 100px;
    margin: 29px auto auto 29px;
    font-weight: 800;
    color:#391400;
}

.flagship-section .tile p{
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
}

.flagship-section .tile span{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

@media (min-width: 768px){
    .flagship-section{
        min-height: 900px;
    }

    .flagship-section .column-wrapper{
        display: flex;
        flex-direction: row;
    }

    .flagship-section .column-wrapper img{
        margin: 100px 60px 0 17px;
        width: calc(50% - 60px);
    }
    
    .flagship-section .text-container{
        margin-top: 120px;
    }

    .flagship-section .tiles-wrapper{
        display: flex;
        flex-direction: row;
    }

    .flagship-section .tile{
        width: calc(100% - 34px);  
    }
    

    .flagship-section .tile:first-of-type{
        margin: 120px 0 0 17px;
    }
    
    .flagship-section .tile:last-of-type{
        margin: 120px 17px 0 0;
    }
}

@media (min-width: 1440px){
    .flagship-section{
        height: 100vh;
        min-height: 1198px;
    }

    .flagship-section .column-wrapper img{
        margin: 190px 171px 0 135px;
        width: 509px;
        height: 531px;
    }

    .flagship-section .text-container {
        margin-top: 236px;
    }

    .flagship-section h2{
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -1px;
        margin-top: 20px;
    }

    .flagship-section span{
        width: 470px;
    }

    .flagship-section p{
        margin-top: 26px;
    }

    .flagship-section button{
        width: 138px;
        height: 48px;
        margin-top: 34px;
    }

    .flagship-section .tile:first-of-type{
        margin: 175px 0 0 135px;
    }
    
    .flagship-section .tile:last-of-type{
        margin: 175px 134px 0 0;
    }

    .flagship-section .tile{
        height: 176px;
    }

    .flagship-section .circle-bg-list,
    .flagship-section .circle-bg-briefcase{
        margin: 22px 30px 0 38px;
        width: 112px;
        height: 112px;
        justify-content: center;
        align-items: center;
    }

    .flagship-section .text-in-tile{
        width: 40%;
    }
}

@media (min-width: 1920px){
    .flagship-section .column-wrapper,
    .flagship-section .tiles-wrapper{
        max-width: 1400px;
        margin: 0 auto;
        }

    .flagship-section .column-wrapper img{
        margin: 150px 171px 0 0px;
    }

    .flagship-section h5{
        margin-top: 70px;
    }
        
    .flagship-section .tile:first-of-type{              
        margin: 150px 0 0 0;
    }
        
    .flagship-section .tile:last-of-type{
        margin: 150px 0 0 0;
    }  
        
    .flagship-section .column-wrapper img {
        margin: 190px 150px 0 20px;
        width: 579px;
        height: 601px;
    }
        
    .flagship-section h5{
        font-size: 30px;
        margin-top: 20px;
    }

    .flagship-section h2{
        font-size: 76px;
        margin-top: 40px;
    }

    .flagship-section p{
        margin-top:36px;
        font-size: 25px;
    }

    .flagship-section span{
        width: 700px;
        font-size: 25px;
    }

    .flagship-section button{
        width: 238px;
        height: 58px;
        font-size: 25px;
        margin-top: 50px;
    }

    .flagship-section .tile p{
        font-size: 50px;
    }

    .flagship-section .tile span{
        font-size: 25px;
        margin-top: 20px;
    }
}





