.footer{
    width: 100%;
    font-family: 'Epilogue', sans-serif;
}

.footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #3A3C56;
    margin: 0 23px auto 23px;
}

.footer h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    margin: 105px auto auto 113px;
}

.footer h5{
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    color: #EF6D58;
    margin-top: 51px;
    justify-content: center;
}

.footer ul{
    margin-top: 16px;  
    list-style: none;
}

.footer li>a{
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #ffffff;
    text-decoration: none;
    justify-content: center;
}

.footer .social{
    display: flex;
    flex-direction: row;
    
}

.footer .circle-bg-facebook,
.footer .circle-bg-twitter,
.footer .circle-bg-instagram{
    display: flex;
    background-color: #EF6D58;
    border-radius: 50%;
    border: 24px solid #EF6D58;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    margin: 52px 4px 64px 4px;
}

.footer .copyright-menu{
    display: flex;
    flex-direction: column;
    font-weight: 400px;
    font-size: 16px;
    line-height: 32px;
    color:rgba(255, 255, 255, 0.64);
    /* margin-top: 43px; */
    align-items: center;
    justify-content: center;
}

.footer span{
    width: 198px;
    /* height: 64px; */
    text-align: center;
}

.footer .copyright-container{
    display: flex;
    flex-direction: row;
    color: #ffffff;
}

.footer p:first-of-type{
    margin: 32px 68px 52px 27px;
}

.footer p:nth-of-type(2){
    margin: 32px 27px 52px 0;
}

@media (min-width: 768px){ 
    .footer .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .footer h4{
        margin: 90px 60px 200px 0;
    }

    .footer h5{
        margin-top: 0;
        justify-content: flex-start;
    }

    .footer .column{
        margin: 90px 20px auto 50px;
    }

    .footer li>a{
        justify-content: flex-start;
    }

    .footer .social{
        margin: 43px 0 auto 20px;  
    }

    .footer span{
        width: 100%;
        margin-top: 20px;
    }

    .footer p:first-of-type{
        margin: 32px 78px 52px 27px;
    }
    
    .footer p:nth-of-type(2){
        margin: 32px 27px 52px 0;
    }
}

@media (min-width: 1440px){
    .footer .container{
        margin: 0 135px auto 135px;
    }

    .footer h4{
        margin: 89px 192px 215px 0;
    }

    .footer h5{
        margin-top: 10px;
        justify-content: flex-start;
    }

    .footer .column:first-of-type{
        margin: 85px 231px auto 0;
    }

    .footer .column:nth-of-type(2){
        margin: 85px 305px auto 0;
    }

    .footer li>a{
        justify-content: flex-start;
    }

    .footer .social{
        margin: 40px 0 auto 0;
    }

    .footer .copyright-menu{
        display: flex;
        flex-direction: row;
    }

    .footer span{
        text-align: start;
        width: 355px;
        margin: 43px auto 52px 135px;
    }

    .footer p:first-of-type{
        margin: 43px 68px 52px 0;
    }
    
    .footer p:nth-of-type(2){
        margin: 43px 135px 52px 0;
    }
}

@media (min-width: 1920px){
    .footer{
        max-width: 1400px;
        margin: 0 auto;
    }

    .footer .container{
        margin: 0 0;
    }

    .footer h4{
        font-size: 43px;
    }

    .footer h5{
        font-size: 32px;
    }

    .footer li>a{
        display: flex;
        font-weight: 400;
        font-size: 23px;
    }

    .footer .circle-bg-facebook,
    .footer .circle-bg-twitter,
    .footer .circle-bg-instagram{
        width: 78px;
        height: 78px;   
    }

    .footer .social img{
        width: 30px;
        height: 40px;
    }

    .footer span{
        font-size: 25px;
        width: 700px;
        margin: auto auto auto 0;
    }

    .footer .copyright-menu{
        margin: 50px 0;
    }

    .footer .copyright-container{
        height: 32px;
    }

    .footer p:first-of-type{
        font-size: 25px;
        margin: auto 60px auto auto;
    }
    
    .footer p:nth-of-type(2){
       font-size: 25px;
       margin: auto 0 auto auto;
    }

    .footer .column:first-of-type {
        margin: 85px 170px auto 0;
    }

    .footer .column:nth-of-type(2) {
        margin: 85px 265px auto 0;
    }
}