*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-section{
    width: 100%;
    font-family: 'Epilogue', sans-serif;
}

.slider-section .slider{
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 48px 0 64px 0;
    align-items: center;
}

.slider-section .slide-wrapper{ 
    position: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #3A3C56;
    padding: 17px;
}

.slider-section .slide-wrapper img{ 
    position: flex;
    width: 340px;
    height: 438px;
    top: 0; 
}
.slider-section .slide-text{
    position: relative;
}

.slider-section h5{
    margin: 76px auto auto 23px;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    color: #EF6D58;
}

.slider-section h3{
    font-size: 40px;
    line-height: 48px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 800;
    color: #FFFFFF;
    margin: 17px auto auto 23px;
}

.slider-section button{
    font-size: 14px;
    line-height: 14px;
    font-weight: 900;
    color: white;
    background-color: #3A3C56;
    border: 1px solid #ffffff;
    border-radius: 6px;
    width: 170px;
    height: 48px;
    margin: 35px auto auto 23px;
}

.slider-section span{
    font-size: 16px;
    height: 38px;
    line-height: 38px;
    font-weight: 400;
    color: #391400;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 19px;
    text-align: center;
    position: absolute;
    padding: 0 15px 0  15px;
    bottom: 112px;
    left: 34px;    
}

.slider-section p{
    font-size: 40px;
    position: absolute; 
    line-height: 48px;
    font-weight: 800;
    color: #ffffff;
    bottom: 41px;
    left: 34px;
}

@media (min-width: 768px){
    .slider-section{
        height: 100vh;
        min-height: 950px;
    }

    .slider-section h5{
        margin: 120px auto auto 100px;
    }

    .slider-section h3{
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -1px;
        margin: 20px auto auto 100px;
    }

    .slider-section button{
        margin: 60px auto auto 100px;
    }
    .slider-section .slider {
        width: 100%;
        display:flex;
        flex-direction: row;
        margin: 120px 0 64px 0;
        align-items: flex-start;
    }

    .slider-section .slide-wrapper{
        top: 20px;
    }

    .slider-section .slide-wrapper img {
        width: 100%;
        height: 100%;
        padding: 7px;
    }

    .slider-section span {
        position: absolute;
        left: 10px;
        bottom: 65px;
    }

    .slider-section p{
        position: absolute;
        font-size: 33px;
        left: 10px;
        bottom: 10px;
    }
}

@media (min-width: 1440px){
    .slider-section{
        min-height: 972px;
    }

    .slider-section .slide-wrapper{
        top: 20px;
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px solid #3A3C56;
    }

    .slider-section h3{
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -1px;
        margin: 20px auto auto 135px;
    }

    .slider-section h5{
        margin: 108px auto auto 135px;
    }

    .slider-section .heading{
        display: flex;
        flex-direction: row;   
    }

    .slider-section button{
        font-size: 14px;
        line-height: 14px;
        font-weight: 900;
        color: white;
        background-color: #3A3C56;
        border: 1px solid #ffffff;
        border-radius: 6px;
        width: 170px;
        height: 48px;
        margin: 120px 134px auto auto;
    }

    .slider-section .slider{
        display:flex;
        flex-direction: row;
        width: 100%;
        margin: 40px 0 96px 0;
        align-items: center;
    }

    .slider-section .slide-wrapper{
        top: 20px;
        height: 100%;
        padding: 12px;
        text-align: center;
    }
    
    .slider-section .slide-wrapper img {
        width: 448px;
        height: 576px;
        padding: 5px;
    }

    .slider-section span{
        bottom: 122px;
        left: 48px;
        position: absolute; 
    }

    .slider-section p{
        bottom: 67px;
        left: 48px; 
        position: absolute;
        font-size: 40px;
    }
}

@media (min-width: 1920px){
    .slider-section {
        max-width: 1400px;
        margin: 0px auto;
    }

    .slider-section h5{
        margin: 130px auto auto 135px;
        font-size: 30px;
    }

    .slider-section h3{
        font-size: 76px;
        margin: 60px auto auto 135px;
    }

    .slider-section button{
        font-size: 25px;
        width: 270px;
        height: 58px;
        margin: 200px 80px auto auto;
    }

    .slider-section .slider{
        margin: 100px 0 96px 0;
    }

    .slider-section span{
        font-size: 22px;
        height: 48px;
    }
}



